@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  scroll-behavior: smooth;
  --green-dark: #1b3610;
  --green-light: #7cb342;
  --green-lighter: #75cf14;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav {
  z-index: 10;
  width: 100%;
  display: flex;
  position: fixed;
  user-select: none;
  align-items: center;

  padding-inline: 2rem;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .nav-left {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-between;

    .nav-left-logo {
      width: 6rem;
      padding: 0.2rem;
    }
    .nav-left-name {
      font-size: 2.5rem;
      font-weight: 600;
      color: var(--green-light);

      .nav-left-name-sync {
        color: black;
        font-weight: 400;
        font-family: "Arimo";
      }
    }
  }

  .nav-menu {
    display: flex;
    list-style: none;
    column-gap: 1.5rem;
    justify-content: space-between;

    .nav-menu-link a {
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.3s ease;

      &:hover {
        color: var(--green-dark);

        &:after {
          width: 100%;
        }
      }

      &:after {
        left: 0;
        width: 0;
        content: "";
        height: 4px;
        bottom: -10px;
        position: absolute;
        transition: width 0.3s ease;
        background-color: var(--green-light);
      }
    }
  }
}

.background-blur {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  filter: blur(4px);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/cannabis.webp");

  &::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 59, 0, 0.6);
  }
}

.main-container {
  display: flex;
  position: relative;

  .main-content {
    top: 50%;
    left: 30%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);

    .main-content-bold {
      font-size: 3rem;
      line-height: 3rem;
    }

    .main-content-text:nth-of-type(1) {
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }

    .main-content-text {
      width: 33rem;
      font-weight: 400;
      color: rgb(219, 219, 219);

      a {
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--green-light);
        transition: color 0.5s ease;

        &:hover {
          color: var(--green-lighter);
        }
      }
    }
  }

  .mobile {
    top: 50%;
    right: 10%;
    width: 20rem;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.objectives {
  width: 100%;
  padding: 5rem;
  display: flex;
  column-gap: 10rem;
  justify-content: center;

  .objective-general {
    z-index: 2;

    .objective-general-title {
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    .objective-general-text {
      width: 25rem;
    }
  }

  .objectives-specific {
    width: 35rem;

    .objectives-specific-title {
      margin-bottom: 1rem;
      a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .objectives-specific-text {
      li a {
        color: black;
        text-decoration: none;
      }

      ul {
        margin-left: 2rem;
      }
    }
  }
}

.objective {
  ul {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  &:target ul {
    opacity: 1;
    overflow: visible;
    max-height: 150px;
  }
}
